body {
    background-image: url('dandelions.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
}

h1 {
    font-family: 'Playwrite ES', cursive;
    font-optical-sizing: auto;
    font-weight: 399;
    font-style: normal;
    color: #ffffff;
    text-align: center;
    margin-top: 10%;
    margin-bottom: 10%;
    font-size: 4em;
    cursor: pointer;
}

.content {
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    transform: translateY(-14%); /* Adjust this value to move the content upwards */
}

.search-bar {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    width: 150px;
    height: 30px;
    border: none;
    border-radius: 27px;
    background-color: #fcffc2;
    color: #333;
    font-size: 1.0em;
    cursor: pointer;
    outline: none;
    margin-left: 20px;
    font-family: 'Playwrite ES', cursive;
    font-weight: 399; 
}

#query {
    width: 60%;
    height: 50px;
    border: none;
    border-radius: 27px;
    padding: 0 20px;
    font-size: 1.2em;
    outline: none;
    color: #333;
    background-color: #ffffff;
}

#searchResults {
    visibility: hidden;
}

#time {
    visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center; 
    margin-top: 20px;
    font-size: 1.2em;
    color: #ffffff;
    font-family: 'Playwrite ES', cursive;
    font-optical-sizing: auto;
    font-weight: 399;
    font-style: normal;
}






